/*.App {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 20px;  
}

.sidebar {
  width: 100%;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr;
}

.navbar {
  background-color: #f2f2f2;
}

.routes {
  background-color: #000000;
  
}*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  display: grid;
  grid-template-columns: 20% 80%; /* Sidebar width and remaining space */
  height: 100%;
  grid-gap: 20px; 
  overflow: hidden;
  width:100%;
}

.sidebar {
  width: 100%;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr; /* Navbar height and remaining space */
}

.navbar {
  width: 100%;
}

.routes {
  background-color: #000000;
}